.parent {
    -fx-background-color: #21252b;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #373A40;
}

.title-bar {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #333841;
}

.close-btn {
    -fx-background-color: transparent;
}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
}

.min-btn:hover {
    -fx-background-color: #373A40;
}

.min-btn:pressed {
    -fx-background-color: transparent;
}

/* TIC TAC TOE */

.tictactoe-pane {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #333841;
}

.titactoe-2d {
    -fx-background-color: #21252b;
}

.tictactoe-cell {
    -fx-border-style: solid hidden hidden solid;
    -fx-border-color: #606368;
    -fx-border-width: 3;
}

.tictactoe-cell-stage {
    -fx-border-width: 2;
}

.tictactoe-stage-0:hover .tictactoe-stage-cells-0,
.tictactoe-stage-1:hover .tictactoe-stage-cells-1,
.tictactoe-stage-2:hover .tictactoe-stage-cells-2,
.tictactoe-stage-3:hover .tictactoe-stage-cells-3 {
    -fx-border-color: #2796C4;
    -fx-cursor: hand;
}

.tictactoe-stage-selected-0 .tictactoe-stage-cells-0,
.tictactoe-stage-selected-1 .tictactoe-stage-cells-1,
.tictactoe-stage-selected-2 .tictactoe-stage-cells-2,
.tictactoe-stage-selected-3 .tictactoe-stage-cells-3 {
    -fx-border-color: #2796C4;
}

.tictactoe-cell.first-column {
    -fx-border-style: solid hidden hidden hidden;
}

.tictactoe-cell.first-row {
    -fx-border-style: hidden hidden hidden solid;
}

.tictactoe-cell.first-cell {
    -fx-border-style: hidden;
}

.separation-border {
    -fx-border-color: #606368;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 2;
}

/* MENU */

.menu-pane {
    -fx-background-color: #282C34;
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: #373A40;
}

.parameters-pane {
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-color: #373A40;
    -fx-border-width: 2;
}

.radio-button-custom .radio {
    -fx-border-color: #606368;
    -fx-border-width: 2;
    -fx-border-radius: 130px;
    -fx-background-color: #21252b;
}

.radio-button-custom .radio:hover {
    -fx-border-color: #9FA1A4;
}

.radio-button-custom .dot {
    -fx-mark-highlight-color: #9FA1A4;
    -fx-mark-color: #9FA1A4;
}

.radio-button-custom:selected .radio {
    -fx-border-color: #2796C4;
}

.checkbox-custom .box {
    -fx-border-color: #606368;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-background-color: #21252b;
}

.checkbox-custom .mark {
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}

.checkbox-custom .box:hover {
    -fx-border-color: #9FA1A4;
}

.checkbox-custom:selected .box {
    -fx-mark-highlight-color: #2796C4;
    -fx-mark-color: #2796C4;
    -fx-border-color: #2796C4;
}

.checkbox-custom:selected .box:hover {
    -fx-border-color: #2796C4AA;
}

.combobox-custom {
    -fx-background-color: #21252B;
    -fx-background-radius: 2px;
    -fx-border-color: #606368;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.combobox-custom:hover {
    -fx-background-color: #2B2F37;
}

.combobox-custom > .arrow-button > .arrow {
    -fx-background-color: #606368;
}

.combobox-custom .list-cell > .text {
    -fx-fill: #ABB2BF
}

.combo-box-popup .list-view {
    -fx-background-color: transparent;
}

.combo-box-popup .list-cell {
    -fx-background-color: #21252B;
}

.combobox-custom .list-cell:hover {
    -fx-background-color: #2B2F37;
}

.newgame-button {
    -fx-background-color: #2796C4DD;
    -fx-border-radius: 10;
}

.newgame-button:hover {
    -fx-background-color: #2796C4;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

.information-pane {
    -fx-background-color: #21252b;
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: #373A40;
    -fx-border-width: 2;
}

.information-scrollpane {
    -fx-background: #21252b;
    -fx-border-color: #21252b;
    -fx-focus-color: #21252b;
    -fx-faint-focus-color: #21252b;
}

.information-textflow {
    -fx-background-color: #21252b;
    -fx-border-color: #21252b;
}

.scroll-bar:vertical .track {
    -fx-background-color: #21252b;
    -fx-border-color: #21252b;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-padding : 0 5 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}


.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #373e48;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 20;
}