.parent {
    -fx-background-color: #21252b;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #373A40;
}

.title-bar {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #333841;
}

.close-btn {
    -fx-background-color: transparent;
}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
}

.min-btn:hover {
    -fx-background-color: #373A40;
}

.min-btn:pressed {
    -fx-background-color: transparent;
}

/* TIC TAC TOE */

.tictactoe-timer {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #333841;
}

.tictactoe-pane {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #333841;
}

.titactoe-2d {
    -fx-background-color: #21252b;
}

.tictactoe-cell {
    -fx-border-style: solid hidden hidden solid;
    -fx-border-color: #606368;
    -fx-border-width: 3;
}

.tictactoe-cell.first-column {
    -fx-border-style: solid hidden hidden hidden;
}

.tictactoe-cell.first-row {
    -fx-border-style: hidden hidden hidden solid;
}

.tictactoe-cell.first-cell {
    -fx-border-style: hidden;
}

/* MENU */

.menu-pane {
    -fx-background-color: #282C34;
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: #373A40;
}

.parameters-pane {
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-color: #373A40;
    -fx-border-width: 2;
}

.radio-button-start-with .radio {
    -fx-border-color: #606368;
    -fx-border-width: 2;
    -fx-border-radius: 130px;
    -fx-background-color: #21252b;
}

.radio-button-start-with .radio:hover {
    -fx-border-color: #9FA1A4;
    -fx-cursor: hand;
}

.radio-button-start-with .dot {
    -fx-mark-highlight-color: #9FA1A4;
    -fx-mark-color: #9FA1A4;
}

.radio-button-start-with:selected .radio {
    -fx-border-color: #2796C4;
}

.newgame-button {
    -fx-background-color: #2796C4DD;
    -fx-border-radius: 10;
}

.newgame-button:hover {
    -fx-background-color: #2796C4;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

.information-pane {
    -fx-background-color: #21252b;
    -fx-border-style: hidden solid solid hidden;
    -fx-border-color: #373A40;
    -fx-border-width: 2;
}

.information-scrollpane {
    -fx-background: #21252b;
    -fx-border-color: #21252b;
}

.information-textarea {
    -fx-text-box-border: #21252b;
    -fx-focus-color: #21252b;
    -fx-background-insets: 2;
    -fx-text-fill: white;
}

.information-textarea .scroll-pane,
.information-textarea .scroll-pane .viewport,
.information-textarea .scroll-pane .content {
    -fx-background-color: #21252b;
}

.information-textarea .content:hover {
    -fx-cursor: default;
}

.scroll-bar:vertical .track {
    -fx-background-color : #21252b;
    -fx-border-color : #21252b;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 20;
    -fx-padding : 0 5 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color : #373e48;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 20;
}